/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu1";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu1";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu1";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu1";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu1";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu1";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjsGyN.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  font-family: Ubuntu;
  font-size: 14px;
}

.conceal {
  -webkit-text-security: disc;
}

#mainBody {
  background-color: #000000;

}
#container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(4px);
}
/* Hidden by default */
#greyBox {
  display: none;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 20px;
  background-color: #888;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px #3636364d;
  z-index: 1000;
  transition: top 0.5s ease-out;
  
}

/* Show and slide down */
#greyBox.show {
  display: block;
  top: 20%; /* Move to the middle of the screen */
}

/* Optional fade out after the box shows up */
#greyBox.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#container #startMenuBtnsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 1105px;
}


#mainBody > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
#mainBody1 {
  background-color: black
}
::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
}

html,
body {
  overflow: hidden;
  animation: fadeIn 0.3s forwards;
  height: 100%;
  
  position: fixed;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-image:  url(NOCAP2.jpg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
        background-size: cover;
  /* Apply animation to body */
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

#gameName {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  font-size: small;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

options_header {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  overflow-y: scroll;
  font-size: small;
  color: #ffffff;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: small;
  width: 100%;
  position: relative; /* or absolute if it needs to be positioned */
height: 100%;
  color: #484848;
  font-style: italic;
  text-align: center;
  margin-top: 0px;
}

h4 {
  font-size: small;
  color: #8abc3f;
  text-align: center;
}

h5 {
  font-size: x-small;
  color: #484848;
  text-align: center;
}

small {
  font-size: x-small;
}

a:link,
a:visited {
  color: #484848;
}

a:hover {
  color: #b5b5b9;
}

ul {
  padding-left: 15px;
  margin-left: 10px;
}

input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition:
    box-shadow 0.3s,
    border 0.3s;
  box-sizing: border-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}

input.checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  overflow: hidden;
}
#startMenuWrapper {
  
  position: fixed; /* Keeps the element fixed relative to the viewport */
  top: 70%; /* Centers vertically based on the viewport */
  left: 50%; /* Centers horizontally based on the viewport */
  transform: translate(-50%, -50%); /* Moves it up and left by 50% of its own width and height to center it */
  
  max-width: 1200px; /* Maximum width */
  max-height: 800px; /* Maximum height */
  width: auto; /* Let the width adjust based on content */
  height: auto; /* Let the height adjust based on content */
}




#playerNameInput {
  padding: 8px;
  left: 50%;
  margin-top: 130px;
  border: 4px solid #000;
  font-size: large;
}

#playerKeyInput {
  padding: 2px;
  margin-top: -10px;
  color: gray;
}

input:focus,
input.focus {
  border: solid 1px #cccccc;

}

div {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

.serverSelector {
  margin-top: 50px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 13px;
  padding-left: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
}

.serverSelector tr {
  color: #828282;
  cursor: pointer;
}

.serverSelector tr.selected {
  color: #8abc3f;
  cursor: default;
}
.Changelog {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  margin-top: 25px;
  font-size: 22px;
  padding: 0;
  margin-left: 30px;
  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog2 {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */

  padding: 0;
  margin-left: 30px;
  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog3 {
  width: 100%;
  height: 100%;
  font-size: 20px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
margin-top: 20px;
  padding: 0;
  margin-left: 30px;
  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog4 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
margin-top: 20px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog5 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
margin-top: 40px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog6 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
margin-top: 60px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog7 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
margin-top: 80px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog8 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
margin-top: 100px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog9 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 120px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog10 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 140px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog11 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 160px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog12 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 180px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog13 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 200px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog14 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 220px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog15 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 240px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog16 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 260px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog17 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 280px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog18 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 300px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog19 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 320px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog20 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 340px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog21 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 360px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog22 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 380px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog23 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 400px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog24 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 420px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog25 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  margin-top: 440px;
  padding: 0;

  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.Changelog1 {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  position: fixed; /* Fixed to the center of the screen */
  z-index: 9999; /* Ensure it appears above other content */
  font-size: 14px;
  padding: 0;
  font-family: "Ubuntu1";
  color: white;
  animation: fadeIn 1s forwards;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

#startMenu {
  position: center;
  margin: auto;
  
  width: 400px;
	height: 100%;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
  animation: fadeIn 1s forwards;
}

#startMenuHeader {
  text-align: left;
  width: 100%;
  height: 100%;
}

.startMenuHolder {
  width: 350px;
  height: 340px;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  vertical-align: text-top;
}

.sliderHolder {
  width: 350px;
  height: 285px;
  overflow: hidden;
  
}

tfoot {
  text-align: center;
  opacity: 0.5;
  margin: 10px;
}

td {
  width: 50%;
}

table {
  width: 100%;
}
i.arrow {
  border: solid #484848;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.menuTabs {
  height: 26px;
  margin: 0 200px;
}
a.menuTab {
  float: right;
  height: 13px;
  font: 13px Ubuntu;
  padding: 6px 10px 7px 10px;
  border-radius: 5px 5px 0 0;
  color: #ffffff !important;
  margin-left: 300px;
  text-decoration: none;
  margin-right: 10px;
  text-shadow:
    0 0 3px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.15);
}
a.menuTab.discord {
  padding: 6px 10px 7px 32px;
  background: #7289da url("https://arras.io/img/discord.svg") 6px 6px/20px
    no-repeat;
    animation: fadeIn 1s forwards;
}
a.menuTab.stat {
  background: #f00 url("https://arras.io/img/youtube.svg") 6px 6px/22px
    no-repeat;
  /*
    let canvas = document.body.appendChild(document.createElement('canvas'))
    canvas.width = 10
    canvas.height = 10
    canvas.style.background = '#f00'
    let ctx = canvas.getContext('2d')
    ctx.fillStyle = '#fff'
    ctx.fillRect(0, 2, 2, 8)
    ctx.fillRect(4, 0, 2, 10)
    ctx.fillRect(8, 4, 2, 6)
    copy(canvas.toDataURL())
    */
  padding: 6px 10px 7px 33px;
  animation: fadeIn 1s forwards;
}
a.menuTab.changelog {
  background: rgb(0, 255, 13) 6px 6px/22px no-repeat;

  /*
    let canvas = document.body.appendChild(document.createElement('canvas'))
    canvas.width = 10
    canvas.height = 10
    canvas.style.background = '#f00'
    let ctx = canvas.getContext('2d')
    ctx.fillStyle = '#fff'
    ctx.fillRect(0, 2, 2, 8)
    ctx.fillRect(4, 0, 2, 10)
    ctx.fillRect(8, 4, 2, 6)
    copy(canvas.toDataURL())
    */
  padding: 6px 10px 7px 15px;
  animation: fadeIn 1s forwards;
}
a.menuTab.reddit {
  background: #f74501 url("https://arras.io/img/reddit.svg") 5px 4px/20px
    no-repeat;
  /*
    let canvas = document.body.appendChild(document.createElement('canvas'))
    canvas.width = 10
    canvas.height = 10
    canvas.style.background = '#f00'
    let ctx = canvas.getContext('2d')
    ctx.fillStyle = '#fff'
    ctx.fillRect(0, 2, 2, 8)
    ctx.fillRect(4, 0, 2, 10)
    ctx.fillRect(8, 4, 2, 6)
    copy(canvas.toDataURL())
    */
  padding: 6px 10px 7px 32px;
  animation: fadeIn 1s forwards;
}
a.menuTab:link:hover,
a.menuTab:visited:hover {
  text-decoration: underline;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation: fadeIn 1s forwards;
}
@keyframes pfpDefault {
  0% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.068, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.055, 0, 0, 0, 0, 1.04, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.012, 0, 0, 0, 0, 0.983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.006, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(0.988, 0, 0, 0, 0, 0.967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(0.986, 0, 0, 0, 0, 0.967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.976, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(0.98, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(0.985, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(0.987, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(0.994, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(0.995, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.002, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.003, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.004, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.003, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes pfpHoverOn {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
.slider {
  position: relative;
  
  top: 0px;
  width: 100%;
  -webkit-transition: top 500ms;
  -moz-transition: top 500ms;
  -o-transition: top 500ms;
  transition: top 500ms;
}

#startMenuSlidingContent {
  height: 265px;
  
}

#startMenuSlidingTrigger {
  cursor: pointer;
  height: 15px;
  
}

#startMenuSlidingTrigger:hover {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
#startMenuSlidingTrigger:hover > h3 > i.arrow {
  border-color: #323232;
}
update {
  color: #d83848;
  font-weight: bold;
}

.titleSpan {
  padding-left: 10px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.shrinkable {
  padding-left: 0px;
  width: 360px;
}

#patchNotes {
  max-width: 330px;
  height: calc(100% - 100px);
  padding: 5px 20px 10px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.15);
}

#patchNotes div {
  > .title {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  > date {
    color: rgba(0, 0, 0, 0.45);
    font-style: italic;
  }

  > ul li {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    background-color: gray;
  }
}

.shadowScroll {
  overflow-y: scroll;
  background:
        /* Shadow covers */
    linear-gradient(#16d35e 10%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), #16d35e 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;

  background-size:
    100% 40px,
    100% 40px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}

#startButton {
  flex: 1 1 auto;
  position: relative; /* Use absolute positioning */
  margin-top: -5px;
  top: -40.5%;
  right: -25%; /* Changed left to right */
  width: 50%;
  height: 60px;
  padding: 10px;
  animation: shrinkAnimation 0.2s forwards;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  font: bold 25px 'Ubuntu1', sans-serif;
  color: white;

  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
  border: 4px solid #353430;
  
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    #37c9ae 40%,
    #45f5d5 40%
  );
  cursor: pointer;
  animation: fadeIn 1s forwards;
}


#startButton:hover {

  box-shadow: 0 0 20px #45f5d5;
  background: linear-gradient(
    0deg,
    #37c9ae 40%,
    #45f5d5 40%
  );
  outline: none;
  filter: brightness(106%);

}
#startButton:active {
  background: linear-gradient(
    0deg,
    #45f5d5 40%,
    #37c9ae 40%
  );

}

#bottomHolder {
  width: 370px;
  display: grid;
  grid-template-columns: auto auto auto;
}

a.link {
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: smaller;
  margin: 2px;
  padding: 5px;
  position: relative;
  width: 120px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.discord {
  background: #7289da;
  border-bottom: 2px solid #6175ba;
  box-shadow: inset 0 -2px #6175ba;
  -webkit-box-shadow: inset 0 -2px #6175ba;
}
.discord:active,
.discord:hover {
  top: 1px;
  background: #6175ba;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.reddit {
  background: #f75401;
  border-bottom: 2px solid #d24a01;
  box-shadow: inset 0 -2px #d24a01;
  -webkit-box-shadow: inset 0 -2px #d24a01;
}
.reddit:active,
.reddit:hover {
  top: 1px;
  background: #d24a01;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.original {
  background: #77bf79;
  border-bottom: 2px solid #679c68;
  box-shadow: inset 0 -2px #679c68;
  -webkit-box-shadow: inset 0 -2px #679c68;
}
.original:active,
.original:hover {
  top: 1px;
  background: #679c68;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.developer {
  background: #454b7f;
  border-bottom: 2px solid #313454;
  box-shadow: inset 0 -2px #313454;
  -webkit-box-shadow: inset 0 -2px #313454;
}
.developer:active,
.developer:hover {
  top: 1px;
  background: #313454;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.youtube {
  background: #f71701;
  border-bottom: 2px solid #d21401;
  box-shadow: inset 0 -2px #d21401;
  -webkit-box-shadow: inset 0 -2px #d21401;
}
.youtube:active,
.youtube:hover {
  top: 1px;
  background: #d21401;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.github {
  background: #666666;
  border-bottom: 2px solid #333333;
  -webkit-box-shadow: inset 0 -2px #333333;
  box-shadow: inset 0 -2px #333333;
}
.github:active,
.github:hover {
  top: 1px;
  background: #333333;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@keyframes blackhole {
  0% {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
  100% {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px); /* To center vertically */
    left: calc(50% - 10px); /* To center horizontally */
  }
}
.nopadding {
  padding: 0;
  font-size: 16px;
  margin: 0px;
}

#startMenu ul {
  margin: 10px;
  padding: 10px;
  margin-top: 0;
}

#startMenu .input-error {
  color: red;
  opacity: 0;
  font-size: 12px;
}

#startMenuWrapper {
  z-index: 2;
}
#blackHole {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  z-index: 1; /* Ensure it's behind startMenuWrapper */
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  animation: shrinkAndCenter 3s forwards;
}

@keyframes shrinkAndCenter {
  0% {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }
  100% {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px); /* To center vertically */
    left: calc(50% - 10px); /* To center horizontally */
  }
}
#gameAreaWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  height: 100%;
}

#gameCanvas {
  position: absolute;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#chatInput {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 30px;
  top: 62%;
  left: calc(47.5% - 149px);
  box-shadow: 0px 0px 5px 2px darkgray;

  color: black;
  background-color: #777;
  opacity: 1;
  transform: scale(0);
  animation: growToSize 0.2s forwards;
}
#chatInputdisappear {
  animation: shrinkAnimation 0.2s forwards;
}
@keyframes growToSize {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Add this to your existing CSS or a new section */
.startMenuWrapper {
  animation: shrinkAnimation 0.2s forwards;

}
/* Add this CSS to your stylesheet (e.g., style.css) */
@keyframes shrinkAnimation {
  0% {
    transform:translate(-50%, -50%) scale(1);
  }
  100% {
    transform:translate(-50%, -50%) scale(0);
  }
}

#shrinkn {
  transform: scale(1);
  opacity: 0;
  animation: growToSize 0.2s forwards;
}
@keyframes ungrowToSize {
  100% {
    transform: scale(1);
  }
  0% {
    transform: scale(0);
  }
}
#cv {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
/* CSS for scaling and zooming out */
.chatInput-hidden {
  opacity: 1;
  transform: scale(1);
  animation: ungrowToSize 0.2s forwards;
}

#settings {
  transition: top 1s;
  position: absolute;
  top: -80px;
  right: 0%;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

#settingsButton {
  padding: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #c6c6c6;
  border-radius: 10px;
  border: 5px solid #767676;
  user-select: none;
}
#settingsMenu {
  display: none;
  transition: right 1s;
  position: absolute;
  top: 45px;
  right: 0%;
  animation-duration: 0.65s;
  animation-timing-function: ease-out;
}
#settingsMenuCover {
  width: 280px;
  height: 260px;
  background: #c6c6c6;
  border-radius: 10px;
  border: 5px solid #767676;
  user-select: none;
}
#settingsTitle {
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: -2%;
  left: 29%;
}
#changeStart {
  margin: auto;
  width: 70px;
  height: 40px;
  box-sizing: border-box;
  font-size: larger;
  color: white;
  text-align: center;
  text-shadow:
    0 0 3px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
  background: #a9d86d;
  border: 0;
  border-bottom: 2px solid #8abc3f;
  cursor: pointer;
  box-shadow: inset 0 -2px #8abc3f;
  border-radius: 5px;
  font: 16px Ubuntu;
}
#changeStart:active,
#changeStart:hover {
  top: 1px;
  background: #8abc3f;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#Record {
  margin: auto;
  width: 110px;
  height: 30px;
  box-sizing: border-box;
  font-size: larger;
  color: white;
  text-align: center;
  text-shadow:
    0 0 3px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
  background: #a9d86d;
  border: 0;
  border-bottom: 2px solid #8abc3f;
  cursor: pointer;
  box-shadow: inset 0 -2px #8abc3f;
  border-radius: 5px;
  font: 16px Ubuntu;
}
#Record:active,
#Record:hover {
  top: 1px;
  background: #8abc3f;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#Screenshot {
  margin: auto;
  width: 110px;
  height: 30px;
  box-sizing: border-box;
  font-size: larger;
  color: white;
  text-align: center;
  text-shadow:
    0 0 3px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
  background: #a9d86d;
  border: 0;
  border-bottom: 2px solid #8abc3f;
  cursor: pointer;
  box-shadow: inset 0 -2px #8abc3f;
  border-radius: 5px;
  font: 16px Ubuntu;
}
#Screenshot:active,
#Screenshot:hover {
  top: 1px;
  background: #8abc3f;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* CSS for chat view (cv) */
#cv {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input [type="image"]:focus {
  border: none;
  outline: 1px solid transparent;
  border-style: none;
}

*:focus {
  outline: 1px solid transparent;
  border-style: none;
}
